doctype html
html 
    head 
        title Parth Dance Academy
        block script 
        block style  
            
    body 
        nav#navbar.top 
            ul 
                #logo 
                    img(src="/static/images/logo.png")
                    | PDA
                li #[a(href = "/") Home] 
                li #[a(href = "/") Services]
                li #[a(href = "/") About]
                li #[a(href = "/") Next Batch Info]
                li #[a(href = "/contact" target = "_blank") Contact Us]

    block content 
    footer#footer 
        |Copyright &#169 2021 ParthDanceAcademy.in | All Rights reserved     